{
  "extends": [
    "prettier",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": ["testing-library", "jest-dom"]
}
